WasmSrc/Concat/pkg/*
WasmSrc/Concat/target/*

WasmSrc/LowerCase/pkg/*
WasmSrc/LowerCase/target/*

WasmSrc/StrReverse/pkg/*
WasmSrc/StrReverse/target/*

WasmSrc/UnZip/pkg/*
WasmSrc/UnZip/target/*

WasmSrc/UpperCase/pkg/*
WasmSrc/UpperCase/target/*

WasmSrc/CabBuilder/pkg/*
WasmSrc/CabBuilder/target/*

WasmSrc/HashCalculator/pkg/*
WasmSrc/HashCalculator/target/*

WasmSrc/UnBrotli/pkg/*
WasmSrc/UnBrotli/target/*